/* General */
@-ms-viewport {
  user-zoom: fixed;
}
html {
  font-size: 1em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body {
  font-family: 'Trebuchet MS', 'Microsoft Yahei', 'Hiragino Sans GB', sans-serif;
  font-size: 1em;
  margin: 0;
  background: #000;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('bg.jpg');
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  color: #FFF;
}
a {
  color: #FFF;
  text-decoration: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  padding: 0;
  font-weight: normal;
}
td {
  padding: 0;
}
/* Header */
h1 {
  color: #FFF;
  font-size: 2rem;
  margin: 0.65em 0;
}
h1 {
  color: #FFF;
  font-size: 1.5rem;
  margin: 0.65em 0;
}
h3 {
  margin: 0;
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
}
nav > ul {
  margin: 0;
  padding: 0;
}
.button,
nav li {
  display: block;
}
/* Content */
#content {
  display: table;
  margin: auto;
  background: rgba(0, 0, 0, 0.7);
}
/* Canvases */
#sprite {
  display: none;
}
/*#bg {
  position: fixed;
  top:0;
  left:0;
  height:100%;
  width:100%;
  z-index: -1;
  opacity: 0;
  transition: opacity .5s ease-in;
}*/
#bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
#a {
  position: relative;
  overflow: hidden;
  float: left;
}
#b {
  border: 1px solid #FFF;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
  float: left;
  z-index: 3;
}
#c {
  padding: 0 0.5em;
  position: relative;
  overflow: hidden;
  float: left;
}
#bgStack {
  background: #000;
  position: absolute;
  z-index: 2;
}
#hold,
#preview,
#stack {
  position: absolute;
  z-index: 2;
}
#active {
  position: absolute;
  z-index: 3;
}
#msgdiv {
  position: absolute;
  text-align: center;
  width: 100%;
  height: 100%;
  line-height: 642px;
  z-index: 4;
}
#msg {
  font-weight: bold;
  font-size: 4rem;
  color: #FFF;
  margin: 0;
  z-index: 4;
  display: inline-block;
  vertical-align: middle;
}
#d {
  float: left;
}
/* Stats */
#stats {
  display: block;
  position: absolute;
  padding: 0;
}
#stats tbody {
  display: block;
}
#stats tr {
  display: block;
  width: 100%;
}
#stats th {
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  vertical-align: top;
}
#stats td {
  font-size: 220%;
  font-weight: 900;
  text-align: center;
  line-height: 1;
  display: inline-block;
  width: 100%;
}
#time {
  text-align: center;
  display: block;
}
#time > canvas {
  width: 100%;
  height: 1.125em;
}
#score {
  text-align: center;
  font-weight: 900;
  font-size: 0.9em;
  display: block;
}
/* Menus */
.menu {
  text-align: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  margin-top: -200%;
  position: absolute;
  background: #000;
  background: rgba(0, 0, 0, 0);
  top: 0;
  z-index: 50;
  opacity: 0;
  /*-webkit-transition: opacity .4s ease-in-out;
     -moz-transition: opacity .4s ease-in-out;
       -o-transition: opacity .4s ease-in-out;*/
  transition: opacity .8s ease-out,
  background .4s ease-out .3s,
  margin .4s ease-out;
}
.on {
  background: rgba(0, 0, 0, 0.8);
  opacity: 1;
  margin: 0;
}
/* Controls */
#controls {
  margin: 1em auto;
}
#controls th {
  font-weight: bold;
  text-align: left;
  line-height: 1.6;
}
#controls td {
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 0.2em 0 0.2em 1.5em;
  text-align: center;
  width: 6em;
  line-height: 1.6;
  background: #111;
  border-radius: 5px;
}
#controls td:hover {
  background: #191919;
}
#controls td:active {
  background: #1A1A1A;
}
/* Settings */
.left,
.right {
  color: #aaa;
  font-weight: normal;
  font-style: normal;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -webkit-transition: all .1s ease-out;
  transition: all .1s ease-out;
}
.left:hover,
.right:hover {
  color: #fff;
}
i.left.material-icons, i.right.material-icons {
  pointer-events: all;
}
#settings {
  margin: 0 0 1em;
}
#settings b {
  display: inline-block;
  width: 9.5rem;
  font-size: 0.9em;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
#settings span {
  text-align: center;
  font-size: .9em;
  font-weight: bold;
  display: inline-block;
  width: 3.5rem;
  margin: 0.2em 0;
}
#leader div {
  margin: 1em 0;
}
#leader span {
  text-align: right;
  font-weight: bold;
  display: inline-block;
  overflow: hidden;
}
#replay #replaydata {
  width: 85%;
  height: 50%;
  font-family: 'Lucida Console';
  font-size: 0.5em;
  word-wrap: break-word;
  word-break: break-all;
  background-color: #000;
  color: #BFB;
  margin: 1rem auto;
  display: block;
}
/* Special Menus */
#go {
  background: none;
  transition: opacity .8s ease-out .8s;
}
#go ul {
  width: 100%;
  position: absolute;
  bottom: 1em;
}
#pause {
  background: none;
  transition: opacity .8s ease-out;
}
#pause ul {
  width: 100%;
  position: absolute;
  bottom: 2em;
}
/* Touch Buttons */
.touchbutton {
  position: absolute;
  font-family: Arial;
  text-align: center;
  color: #FFF;
  border-radius: 5px;
  -moz-border-radius: 5px;
  opacity: 0.2;
  /* padding: 0.3rem 0.6rem 0.4rem; */
  background: #444;
  z-index: 100;
}
